<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <!-- <script src="view/webix.trial.complete/webix/codebase/webix.js"></script>-->
  <!--  <script src="view/views/toolbar/menu.js"></script>
    <script src="view/views/toolbar/label.js"></script>
    <script src="view/views/toolbar/sing_in_up.js"></script>-->
   <!-- <script src="view/bundle.js"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" href="view/style.css" type="text/css">

    <link rel="stylesheet" href="view/webix.trial.complete/webix/codebase/webix.css">
    <link rel="stylesheet" href="view/webix.trial.complete/webix/codebase/skins/contrast.css">

    <link rel="stylesheet" href="//cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css">
<style>
    .login_error_label{
        color:red;
    }
</style>

</head>
<body>
<script src="view/bundle.js">

</script>

</body>
</html>