<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="view/webix.trial.complete/webix/codebase/webix.js"></script>
    <script src="view/webix.trial.complete/kanban/codebase/kanban.js"></script>


    <link rel="stylesheet" href="view/style.css" type="text/css">

    <link rel="stylesheet" href="view/webix.trial.complete/webix/codebase/webix.css">
    <link rel="stylesheet" href="view/webix.trial.complete/webix/codebase/skins/contrast.css">
    <link rel="stylesheet" href="view/webix.trial.complete/kanban/codebase/skins/contrast.css">

    <link rel="stylesheet" href="//cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css">


</head>
<body>

<script src="view/bundle.js">

</script>



</body>
</html>